# Spring Boot API URL
# Next.js Environment Variables
# NEXT_PUBLIC_API_URL=/api/proxy/api/v1
# NEXT_PUBLIC_WS_URL=http://localhost:8686/ws
# NEXT_PUBLIC_CHAT_API_URL=/api/proxy/api/chat
# NEXT_PUBLIC_BACKEND_URL=http://localhost:8686/api/v1
# BACKEND_URL=http://localhost:8686
# NEXT_PUBLIC_GOOGLE_CLIENT_ID=

NEXT_PUBLIC_API_URL=/api/proxy/api/v1
NEXT_PUBLIC_WS_URL=http://localhost:5000/api/v1/ws
NEXT_PUBLIC_CHAT_API_URL=/api/proxy/api/chat
NEXT_PUBLIC_BACKEND_URL=http://localhost:5000/api/v1
BACKEND_URL=http://localhost:5000
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

# Cloudinary Configuration
# Thay thế bằng thông tin Cloudinary của bạn
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=
